.logo {
    color: #e5e5e5;
    font-size: 25px;
    will-change: transform;
    transition: transform 450ms;
}

.logo:hover {
    color: #fee440;
    font-size: 27px;
    transition: transform 125ms;
    transform: translateY(-5px); 
}